html,
body {
  direction: rtl;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.15rem;
}
input,
button {
  font-size: 1rem;
}

h1{
  margin: 0;
}

fieldset {
  width: fit-content;
  margin-bottom: 5px;
}

fieldset label {
  width: 130px;
  display: inline-block;
  margin-bottom: 10px;
}

div.price-100gr {
  font-weight: bold;
}

.green {
  background-color: palegreen;
}

#products {
  display: flex;
  flex-direction: column;
}

/* grid */
section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(30, 1fr);
  box-sizing: border-box;
  height: 100%;
  border: 1px solid lightgrey;
  /* padding: 3px; */
}


main {
  grid-column: span 12;
  grid-row: span 30;
  border: inherit;
  overflow: auto;
}

div.product-container{
    padding: 10px;
}